
.footer {

    margin: 0px;
    grid-area: footer;
    background-color: #345C72;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.nav-footer{
    display: flex;
    width: 30%;
    justify-content: space-around;
    flex-wrap: nowrap;

}

.nav-footer a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.nav-footer a:hover{
    background-color: #4A7992;
} 

.social p{
    color: white;
    font-size: 1rem;
}