
.envoltura {
    display: grid;
    grid: 
    "cabecera cabecera cabecera"
    "conetenido conetenido contenido"
    "conetenido conetenido contenido"
    "conetenido conetenido contenido"
    "footer footer footer";
}

.imagenes{
    grid-area: contenido;
    border: solid black;
    height: 100%;
}
