

.envoltura {
    display: grid;
    grid: 
    "cabecera cabecera cabecera"
    "conetenido conetenido contenido"
    "conetenido conetenido contenido"
    "conetenido conetenido contenido"
    "footer footer footer";
}

#imagenes{
    grid-area: contenido;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
 /*  background-image: url('media/mapa-tierra-media.jpg');
    backdrop-filter: blur(5px);*/
}

.hero-image{
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: end;
    align-items: center;
}

.hero-image p{
    text-decoration: line-through;
}

#imagen1{
    background-image: url('media/mapa-tierra-media.jpg');
    width: 1200px;
    height: 500px;
    margin: 0px;
    background-size: contain;
}

#imagen2{
    background-image: url('media/rivendell.jpg');
    width: 1200px;
    height: 500px;
    margin: 0px;
    background-size: contain;

}